---

export interface Props {
  className: string
}


const { className } = Astro.props
---

<a href="/" class="flex items-center"><img src="/NR_Gear_logo_white.png" class="max-w-50 max-h-50 flex items-center space-x-28 py-5 bg-gray-900 p-5  dark:bg-[#121212] rounded-2xl " alt="Flowbite Logo"></a>
