---
import Navbar from '../../components/Navbar.astro'
import Layout from '../../components/layout.astro'
import Footer from '../../components/Footer.astro'
import Model1 from '../../components/aishamodel/model1.astro'
import Model3 from '../../components/aishamodel/model3.astro'
import Model5 from '../../components/aishamodel/model5.astro'
import Model2 from '../../components/aishamodel/model2.astro'
import Model4 from '../../components/aishamodel/model4.astro'
import Model6 from '../../components/aishamodel/model6.astro'
import Model7 from '../../components/aishamodel/model7.astro'
import Model8 from '../../components/aishamodel/model8.astro'
import Model9 from '../../components/aishamodel/model9.astro'
import Model10 from '../../components/aishamodel/model10.astro'
import Model11 from '../../components/aishamodel/model11.astro'
import Model12 from '../../components/aishamodel/model12.astro'
import Model13 from '../../components/aishamodel/model13.astro'
---

<head>
  <Layout
    title="Us"
    ,
    description="About Our team"
    ,
    image="/NR_Gear_logo_whit.webp"
    ,
  />
</head>

<body>
  <Navbar />
  <main
    class="mx-auto mt-20 max-w-7xl rounded-xl bg-neutral-200 pb-4 shadow-xl dark:bg-[#121212] dark:text-white"
  >
    <div class="-mt-20">
      <div class="mx-auto rounded-xl py-4">
        <div
          class="mx-auto max-w-4xl text-ellipsis rounded-lg bg-white py-4 shadow-xl dark:bg-[#332940] lg:px-8"
        >
          <h1 class="pb-4 text-center text-2xl md:text-left">About Us</h1>
          <img
            src="/NR_Gear_logo_white.webp"
            class="flex w-full items-center space-x-28 rounded-2xl bg-gray-900 p-5 md:block md:w-auto"
            alt="NORTH BANGKOK GEEKS ENGINEERING AWESOME ROBOTIC SOLUTIONS"
          />
          <p class="text-ellipsis p-4 text-sm xl:text-base">
            &nbsp;&nbsp;&nbsp;Our story began by Mr.Punroon who was veteran
            member of NC GEARS, He was paticipated in FTC 2021 which he has a
            dream of FTC Team in thailand in our school.he wants to create a
            team to inspire the newer generation of young people to have
            experience with robotic events and improve their engineering skill
            in practical applications. One of our goals is to prove that
            teenagers that live in Bangkok also have the potential for
            competition. Via a connection with the NC GEARS team, they are able
            to give us the guidance into starting a proper team. Our team's
            name, "NB GEARS: stands for "North Bangkok Geeks Engineering Awesome
            Robotic Solutions" similar to our advising team.
          </p>
        </div>
      </div>
    </div>

    <div
      class="rounded-lg bg-white px-6 shadow-xl dark:border-gray-700 dark:bg-[#332940] md:mx-4 lg:px-8"
    >
      <h1 class="pt-4 text-center text-2xl md:text-left">Our Team</h1>

      <p class="text-gray-500 dark:text-gray-400">
        <ul class="grind cen grid-cols-1 text-xl">
          <li class="">
            <p class="-mb-5 ml-1 text-center md:text-left">Our Founder</p>
            <ul class="grind grid grid-cols-1 gap-4 py-4 md:grid-cols-1">
              <li><Model1 /></li>
            </ul>
          </li>
          <li class="">
            <p class="-mb-5 ml-1 text-center md:text-left">Our Advisor</p>
            <ul class="grind grid grid-cols-1 gap-4 py-4 md:grid-cols-4">
              <li><Model2 /></li>
              <li><Model3 /></li>
              <li><Model4 /></li>
            </ul>
          </li>
          <li class="">
            <p class="-mb-5 ml-1 text-center md:text-left">
              Our Engineering team
            </p>
            <ul class="grind grid grid-cols-1 gap-4 py-4 md:grid-cols-4">
              <li><Model5 /></li>
              <li><Model6 /></li>
              <li><Model7 /></li>
              <li><Model8 /></li>
            </ul>
          </li>
          <li class="">
            <p class="-mb-5 ml-1 text-center md:text-left">
              Our Marketing team
            </p>
            <ul class="grind grid grid-cols-1 gap-4 py-4 md:grid-cols-4">
              <li><Model9 /></li>
              <li><Model10 /></li>
              <li><Model11 /></li>
              <li><Model12 /></li>
              <li class="-mt-6"><Model13 /></li>
            </ul>
          </li>
        </ul>
      </p>
    </div>

    <div class="-mb-7 mt-8"><Footer /></div>
  </main>
</body>
