<footer
  class="px-auto flex items-center rounded-xl bg-white px-4 pb-8 pt-12 text-sm text-gray-600 dark:bg-[#121212] dark:text-white sm:text-base md:px-6"
>
  <div
    class="flex space-x-2 transition-transform duration-700 ease-in-out hover:rotate-[360deg]"
  >
    <a href="https://creatorsgarten.org/ring" title="Creatorsgarten">
      <img src="/garten.svg" class="aspect-square w-6 sm:w-8" alt="webring" />
    </a>
  </div>
  <div class="mx-4 h-6 border-l-2 border-gray-300 sm:h-8"></div>
  <p>© {new Date().getFullYear()} NB GEARS</p>
</footer>
